// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li{
  list-style: none;
}
.container{
max-width: 600px;
margin: 50px 30px;
}

.far{
  margin: 4px;
}

.task-form{
  width: 400px;
}

.task-header{
  width: 100%;
}
#task_completed{
  margin: 10px
}
